@tailwind base;
@tailwind components;
@tailwind utilities;

.state-effects {
  @apply hover:scale-105 focus:scale-105 active:scale-[1.02] transition
}


::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #0f1015;
}

::-webkit-scrollbar-thumb {
  background: rgb(255, 255, 255, 0.1);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(255, 255, 255, 0.2);
}